@page
@model IdentityService.Pages.Account.Register.Index
@{
}


<div>
    <partial name="_ValidationSummary" />
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header">
                    <h2>Register</h2>
                </div>
                <div class="card-body">
                    <form asp-page="/Account/Register/Index">
                        <input type="hidden" asp-for="Input.ReturnUrl" />

                        <div class="form-group">
                            <label asp-for="Input.Username">Nombre de usuario</label>
                            <input class="form-control" placeholder="Username" asp-for="Input.Username" autofocus>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input class="form-control" placeholder="Email" asp-for="Input.Email">
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.FullName">Nombre completo</label>
                            <input class="form-control" placeholder="Fullname" asp-for="Input.FullName">
                        </div>

                        <div class="form-group">
                            <label asp-for="Input.Password">Contraseña</label>
                            <input type="password" class="form-control" placeholder="Password" asp-for="Input.Password"
                                autocomplete="off">
                        </div>

                        <a class="pb-2 d-block" asp-page="../Login/Index"
                            asp-router-returnUrl="@Model.Input.ReturnUrl">¿Tenés una cuenta? Ingresá acá</a>
                        <button class="btn btn-primary" name="Input.Button" value="register">Crear cuenta</button>
                        <button class="btn btn-secondary" name="Input.Button" value="cancel">Cancelar</button>
                    </form>
                </div>

                @if (Model.RegisterSuccess)
                {
                    <div class="alert alert-success m-4">
                        <div class="">
                            <strong>Te registraste correctamente</strong> - Podés ingresar a MakerInventory
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>